<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title><%- request.beatmapset.fullname %> - mod request details | admin</title>
        <%- include('../head-header'); %>
    </head>
    <body>
        <%- include('../body-header'); %>
        <div class="container" style="margin-top: 1%;">
            <div class="row">
                <div class="col s12">
                    <div class="row" id="card-container"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="commentByMapper" type="text" />
                            <label for="commentByMapper">Comment by mapper</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="commentByModder" type="text" />
                            <label for="commentByModder">Comment by modder</label>
                        </div>
                        <div class="col s12">
                            <button id="save-button" class="btn blue waves-effect" onclick="save()">Save</button>
                            <button class="btn green waves-effect" onclick="queuePage()">Modding queue page</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a href="/admin/users/<%- request.beatmapset.user_id %>" class="btn teal waves-effect">Open mapper user admin page</a>
                            <a href="/admin/users/<%- request.user_id %>" class="btn teal waves-effect">Open requester user admin page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="request-details" class="card z-depth-5 hidden" style="opacity: 0">
            <div class="card-body">
                <div class="card-comment">
                    <p>Mod Request Events</p>
                </div>
                <hr>
                <div class="request-details-events">
                    <ul class="request-event-entries" id="req-events"></ul>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/scripts/main.js"></script>
        <script type="application/json" id="json-request"><%- JSON.stringify(request) %></script>
        <script type="text/javascript" src="/scripts/admin/request/details.js"></script>
    </body>
</html>
